PORT=5000
MONGO_URI=mongodb+srv://dhruvrupala1213_db_user:xkIgmjiRqLayBlRV@wast.42ai3aq.mongodb.net/wast_db?retryWrites=true&w=majority&appName=WAST
JWT_SECRET=4b0e42e2ada05387522e51252c22c1069...da0a83
CORS_ORIGIN=http://localhost:5173
